body {
    font-family: $font-family;
    color: $black;
    @include pc {
        min-width: $pc_max_width;
    };
    @include sp {
        background-color: $siteBgColor;
    }
}

#page {
    width: 100%;
    overflow: hidden;
    padding-top: $navH;
    font-weight: normal;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    .kakugo {
        font-family: $font-kakugo;
    }

    .js-show {
        display: none;
    }
    @include sp {
        font-size: 14px;

        .pc_only {
            display: none !important;
        }
    }
    @include pc {
        font-size: 18px;

        .sp_only {
            display: none !important;
        }

        .hover {
            transition: opacity 1s;

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.cf::after {
    content: "";
    display: block;
    clear: both;
}

.content-area {
    @extend .pcMainContents;
}

.site-content {
    background-color: $siteBgColor;
    margin: $topThumbH auto 0;
    position: relative;
    box-sizing: border-box;
    @include pc {
        width: $pc_max_width;
        margin: 0 auto;
        padding: 10px;
    }
}
