@font-face {
  font-family: 'nasu';
  font-weight: normal;
  src: url(./fonts/Nasu-Regular-20141215.ttf);
}
@font-face {
  font-family: 'nasu';
  font-weight: bold;
  src: url(./fonts/Nasu-Bold-20141215.ttf);
}
