@font-face {
  font-family: 'nasu';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/Nasu-Regular-20141215.ttf);
}
@font-face {
  font-family: 'nasu';
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/Nasu-Bold-20141215.ttf);
}
