@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@media (min-width: 767px) {
  .pcMainContents, .content-area, .single__bottom_popular--post,
  .single__related--post {
    float: left;
    width: 650px; } }

.entry--single h3:after, .entry--single h3:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(0.863, 0, 0, 0, 0, 0.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.863, 0, 0, 0, 0, 0.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.89, 0, 0, 0, 0, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.89, 0, 0, 0, 0, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(0.932, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.932, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.977, 0, 0, 0, 0, 1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.977, 0, 0, 0, 0, 1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(0.988, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.988, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.025, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.028, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(1.042, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.042, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(1.039, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.039, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.03, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.03, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.027, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.027, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.013, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.996, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(0.993, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.993, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@keyframes bounce {
  0% {
    -webkit-transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.8, 0, 0, 0, 0, 0.8, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(0.863, 0, 0, 0, 0, 0.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.863, 0, 0, 0, 0, 0.881, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.89, 0, 0, 0, 0, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.89, 0, 0, 0, 0, 0.92, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(0.932, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.932, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.977, 0, 0, 0, 0, 1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.977, 0, 0, 0, 0, 1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(0.988, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.988, 0, 0, 0, 0, 1.045, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(1.025, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.025, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.028, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.028, 0, 0, 0, 0, 1.066, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(1.042, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.042, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.042, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(1.039, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.039, 0, 0, 0, 0, 1.014, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.03, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.03, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.027, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.027, 0, 0, 0, 0, 0.988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.013, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.996, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.996, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, 0, 0, 0, 0, 0.996, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.992, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.992, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(0.993, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.993, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.998, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@-webkit-keyframes smack {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@keyframes smack {
  0% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.316, 0, 0, 0, 0, 0.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    -webkit-transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.659, 0, 0, 0, 0, 0.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    -webkit-transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.883, 0, 0, 0, 0, 1.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.942, 0, 0, 0, 0, 1.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.123, 0, 0, 0, 0, 1.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    -webkit-transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.208, 0, 0, 0, 0, 1.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    -webkit-transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.196, 0, 0, 0, 0, 1.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    -webkit-transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.151, 0, 0, 0, 0, 0.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.134, 0, 0, 0, 0, 0.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.063, 0, 0, 0, 0, 0.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    -webkit-transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.048, 0, 0, 0, 0, 0.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    -webkit-transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.972, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    -webkit-transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.961, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.966, 0, 0, 0, 0, 1.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    -webkit-transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.991, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.006, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.007, 0, 0, 0, 0, 0.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

a {
  color: #0b4b95; }
  a:hover {
    color: #669FFF; }

em,
strong {
  background-image: url("img/stripe.png");
  background-size: 8.5px;
  background-repeat: no-repeat;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;
  background-position: bottom left;
  font-weight: bold; }

body {
  font-family: "nasu", "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3, sans-serif;
  color: #3E3124; }
  @media (min-width: 767px) {
    body {
      min-width: 1000px; } }
  @media (max-width: 479px) {
    body {
      background-color: #E1D5CA; } }

#page {
  width: 100%;
  overflow: hidden;
  padding-top: 45px;
  font-weight: normal;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  #page .kakugo {
    font-family: "ヒラギノ角ゴ Pro W6", HiraKakuPro-W6, sans-serif; }
  #page .js-show {
    display: none; }
  @media (max-width: 479px) {
    #page {
      font-size: 14px; }
      #page .pc_only {
        display: none !important; } }
  @media (min-width: 767px) {
    #page {
      font-size: 18px; }
      #page .sp_only {
        display: none !important; }
      #page .hover {
        transition: opacity 1s; }
        #page .hover:hover {
          opacity: 0.7;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; } }

.cf:after {
  content: "";
  display: block;
  clear: both; }

.site-content {
  background-color: #E1D5CA;
  margin: 130px auto 0;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 767px) {
    .site-content {
      width: 1000px;
      padding: 10px; } }

@font-face {
  font-family: 'nasu';
  font-weight: normal;
  src: url(fonts/Nasu-Regular-20141215.ttf); }

@font-face {
  font-family: 'nasu';
  font-weight: bold;
  src: url(fonts/Nasu-Bold-20141215.ttf); }

@font-face {
  font-family: 'mincho';
  font-weight: normal;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?ehq21i");
  src: url("fonts/icomoon.eot?#iefixehq21i") format("embedded-opentype"), url("fonts/icomoon.woff?ehq21i") format("woff"), url("fonts/icomoon.ttf?ehq21i") format("truetype"), url("fonts/icomoon.svg?ehq21i#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold; }

.icon-line:before {
  content: "\e009"; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/* アプリーチカスタマイズ */
#appreach-box {
  border: 1px solid #ddd;
  margin: 2em 0; }

#appreach-box p {
  display: none; }

.comments-area {
  position: relative;
  background-color: #E1D5CA; }

/*内部リンクショートコード*/
.ilink {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  display: block;
  text-decoration: none;
  color: #5d5d5d;
  background-color: transparent;
  border-radius: 4px; }
  .ilink .midashi {
    font-size: 15.2px;
    font-size: 0.95rem;
    font-weight: bold;
    padding: 1.6px 11.2px 0;
    padding: 0.1rem 0.7rem 0;
    margin-bottom: 5px;
    vertical-align: bottom;
    text-align: center; }
    .ilink .midashi:before {
      content: "＼"; }
    .ilink .midashi:after {
      content: "／"; }
  .ilink i {
    display: none; }
  .ilink .first {
    border-bottom: 3px solid #D04A69;
    border-radius: 3px; }
  .ilink .ilink_inner {
    display: block;
    margin-bottom: 0;
    height: 80px; }
    @media (max-width: 479px) {
      .ilink .ilink_inner {
        line-height: 1.4;
        overflow: hidden; } }
    @media (min-width: 767px) {
      .ilink .ilink_inner {
        line-height: 1.9; } }
  .ilink a {
    display: block;
    text-decoration: none;
    padding: 10px; }
  .ilink li a {
    padding: 16px 16px 8px;
    padding: 1rem 1rem 0.5rem; }
  .ilink li.end a {
    padding-bottom: 16px;
    padding-bottom: 1rem; }
  .ilink p,
  .ilink ul {
    border: 1px solid #999;
    margin-bottom: 0; }
  .ilink li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .ilink li.end {
    margin: 0; }
  .ilink img {
    width: 120px;
    min-height: 80px;
    float: left;
    margin-right: 12.8px;
    margin-right: 0.8rem; }
  .ilink .ilink_img {
    display: inline-block;
    width: 120px;
    height: 80px;
    float: left;
    margin-right: 12.8px;
    margin-right: 0.8rem;
    background-size: cover;
    background-position: center; }
  .ilink .front,
  .ilink .title {
    background-size: 14px 14px; }
  .ilink .front {
    float: left;
    color: #222; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 0;
  height: 45px;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #E1D5CA;
  box-sizing: border-box; }
  .nav *::-webkit-scrollbar {
    display: none; }

.nav__title {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif;
  color: #3E3124;
  text-decoration: none;
  font-size: 30px;
  text-align: center; }
  .nav__title a {
    color: #3E3124;
    text-decoration: none; }
  .nav__title img {
    height: 100%;
    display: block;
    margin: 0 auto; }

@media (max-width: 479px) {
  .nav__description {
    display: none; } }

.nav__menuOpen {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  width: 45px;
  box-sizing: border-box; }
  .nav__menuOpen:after, .nav__menuOpen:before {
    position: absolute;
    left: 15px;
    top: 6px;
    display: block;
    box-sizing: border-box;
    width: 21.6px;
    content: "";
    border-bottom: 1px solid #3E3124; }
  .nav__menuOpen:before {
    height: 17px;
    border-top: 1px solid #3E3124; }
  .nav__menuOpen:after {
    height: 9px; }

.spmenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(62, 49, 36, 0.5); }
  .js-spMenuOn .spmenu {
    display: block; }

.nav .menu {
  width: 100%;
  background-color: #E1D5CA;
  overflow: auto;
  padding: 10px 15px;
  white-space: nowrap; }
  .nav .menu li {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.3); }
    .nav .menu li a {
      color: #fff;
      text-decoration: none; }

.pagination {
  padding: 0 5px 5px; }
  @media (max-width: 479px) {
    .pagination {
      width: 100%;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden; } }
  .pagination a,
  .pagination span {
    display: inline-block;
    text-decoration: none;
    width: 20px;
    text-align: center;
    color: #fff;
    background: #2A9EBE;
    margin: 5px 5px 5px 0;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold; }
    .pagination a:hover,
    .pagination span:hover {
      opacity: 0.8;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; }
    .pagination a.current,
    .pagination span.current {
      background-color: #999;
      border-radius: 0; }

.contents__snsBtn {
  margin: 0 auto;
  padding: 0 5px;
  text-align: center;
  background-color: #fff; }
  .contents__snsBtn__text {
    text-align: center;
    margin-bottom: 10px; }
  .contents__snsBtn ul {
    list-style: none; }
  .contents__snsBtn li {
    float: left;
    width: 23.5%;
    margin: 0 2% 20px 0; }
    .contents__snsBtn li:last-child {
      margin: 0 0 20px; }
    .contents__snsBtn li a {
      font-size: 12.8px;
      font-size: 0.8rem;
      position: relative;
      display: block;
      padding: 8px 0 5px;
      color: #fff;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Quicksand', sans-serif; }
      .contents__snsBtn li a:hover {
        -webkit-transform: translate3d(0px, 5px, 1px);
                transform: translate3d(0px, 5px, 1px);
        box-shadow: none; }
      .contents__snsBtn li a i,
      .contents__snsBtn li a span {
        font-size: 16px;
        font-size: 1rem; }
  .contents__snsBtn .twitter a {
    background: #00acee;
    box-shadow: 0 5px 0 #0092ca; }
  .contents__snsBtn .twitter a:hover {
    background: #0092ca; }
  .contents__snsBtn .facebook a {
    background: #3b5998;
    box-shadow: 0 5px 0 #2c4373; }
  .contents__snsBtn .facebook a:hover {
    background: #2c4373; }
  .contents__snsBtn .hatebu a {
    background: #5d8ac1;
    box-shadow: 0 5px 0 #43638b; }
  .contents__snsBtn .hatebu a:hover {
    background: #43638b; }
  .contents__snsBtn .line a {
    background: #25af00;
    box-shadow: 0 5px 0 #219900; }
  .contents__snsBtn .line a:hover {
    background: #219900; }

.contents__snsLink {
  position: relative;
  height: 190px;
  margin: 20px auto;
  overflow: hidden;
  background-position: center;
  background-size: cover; }
  .contents__snsLink__bg {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="5" /></filter></svg>#filter');
    -webkit-filter: blur(5px);
            filter: blur(5px); }
  .contents__snsLink__content {
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    text-align: center; }
  .contents__snsLink__fb__img {
    display: block;
    position: absolute;
    top: 20px;
    left: 6%;
    width: 38%;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .contents__snsLink__fb__btnArea {
    position: relative;
    display: table-cell;
    margin-top: 20px;
    margin-right: 3%;
    text-align: center;
    float: right; }
  .contents__snsLink__fb__btn {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    display: block;
    margin: 15px auto; }
  .contents__snsLink__tw-line {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 0; }
  .contents__snsLink .contents__snsLink__tw, .contents__snsLink .contents__snsLink__line {
    font-size: 16px;
    display: inline-block;
    width: 40%;
    margin: 5%;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px; }
  .contents__snsLink__tw {
    background: #00acee;
    box-shadow: 0 5px 0 #0092ca;
    color: #fff;
    text-decoration: none; }
    .contents__snsLink__tw a {
      color: #fff;
      text-decoration: none; }
  .contents__snsLink__line {
    background: #25af00;
    box-shadow: 0 5px 0 #219900;
    color: #fff;
    text-decoration: none; }
    @media (min-width: 767px) {
      .contents__snsLink__line {
        display: none; } }
    .contents__snsLink__line a {
      color: #fff;
      text-decoration: none; }

/* 会話の登場人物 */
.entry--single .talkbox {
  color: #2A9EBE;
  line-height: 8px;
  width: 90px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 5px; }
  .entry--single .talkbox img {
    width: 70px;
    border-radius: 50%;
    border: solid #2A9EBE 3px;
    margin: 0 auto 10px; }
  .entry--single .talkbox.me {
    color: #D04A69; }
  .entry--single .talkbox.me img {
    border: solid #D04A69 3px; }

.widget-area {
  position: relative;
  background-color: #E1D5CA; }
  @media (min-width: 767px) {
    .widget-area {
      float: right;
      width: 320px; } }

.hokatsu.entry--list .entry-cat_tag .cat-links a {
  background-color: rgba(250, 190, 210, 0.8); }

.pokemon.entry--list .entry-cat_tag .cat-links a {
  background-color: rgba(255, 150, 50, 0.8); }

.header {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 767px) {
    .header {
      background-size: contain; } }

.list-main {
  padding: 5px; }

.entry--list {
  position: relative;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 5px 0;
  padding: 10px; }
  .entry--list:first-child {
    margin: 0 0 5px; }
  .entry--list .entry-thumb {
    display: block;
    float: left;
    height: 100%;
    width: 35%;
    text-indent: -9999px;
    overflow: hidden;
    background-size: cover;
    background-position: center; }
  .entry--list .entry-content {
    height: 100%;
    width: 60%;
    font-size: 80%;
    float: right;
    box-sizing: border-box;
    color: #3E3124;
    text-decoration: none; }
    .entry--list .entry-content a {
      color: #3E3124;
      text-decoration: none; }
  .entry--list .entry-title {
    font-size: 13px;
    line-height: 1.3em;
    height: 64px;
    overflow: hidden;
    font-weight: bold; }
  .entry--list .entry-date {
    display: inline-block;
    color: #999;
    font-size: 12px; }
  .entry--list .entry-cat_tag {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right; }
    .entry--list .entry-cat_tag .post-categories {
      display: inline-block; }
    .entry--list .entry-cat_tag .cat-links li {
      display: inline-block; }
      @media (max-width: 479px) {
        .entry--list .entry-cat_tag .cat-links li {
          display: none; }
          .entry--list .entry-cat_tag .cat-links li:first-child {
            display: inline-block; } }
    .entry--list .entry-cat_tag .cat-links a {
      font-size: 80%;
      position: relative;
      display: inline-block;
      padding: 0 5px;
      background-color: #2A9EBE;
      color: #fff;
      text-decoration: none; }
      .entry--list .entry-cat_tag .cat-links a a {
        color: #fff;
        text-decoration: none; }
  .entry--list .comments-link {
    display: none; }
  @media (max-width: 479px) {
    .entry--list .tags-links {
      display: none; } }

.single__bottom_popular--post,
.single__related--post {
  position: relative;
  padding: 0 10px;
  box-sizing: border-box; }

.single__content main {
  background-color: #fff;
  padding: 10px; }

.single__content img {
  max-width: 100%;
  height: auto; }

.entry--single__topthumb {
  position: fixed;
  top: 45px;
  height: 130px;
  width: 100%; }
  .entry--single__topthumb img {
    width: 100%; }

.entry--single {
  position: relative;
  box-sizing: border-box; }
  .entry--single .entry-views {
    margin-left: 10px; }
  .entry--single .entry-content {
    padding-bottom: 1px; }
  @media (max-width: 479px) {
    .entry--single .entry-title {
      font-size: 20px; } }
  .entry--single .entry-cat_tag {
    display: none; }
    .entry--single .entry-cat_tag .tags-links a {
      position: relative;
      float: right;
      background-color: #2A9EBE;
      border-radius: 0 2px 2px 0;
      color: #fff;
      display: inline-block;
      font-size: 11px;
      font-weight: 700;
      line-height: 1.2727272727;
      margin: 2px 4px 2px 10px;
      padding: 3px 7px 3px 0;
      text-decoration: none; }
      .entry--single .entry-cat_tag .tags-links a:before {
        content: "・"; }
      .entry--single .entry-cat_tag .tags-links a:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: -8px;
        border-top: 10px solid transparent;
        border-right: 8px solid #2A9EBE;
        border-bottom: 10px solid transparent; }
  .entry--single h2 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 10px;
    line-height: 30px;
    margin: 20px 0;
    background-color: rgba(62, 49, 36, 0.05); }
    .entry--single h2:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 10px solid transparent;
      border-left: 10px solid #fff;
      -webkit-transform: rotate(225deg);
              transform: rotate(225deg); }
    .entry--single h2:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 10px solid transparent;
      border-left: 10px solid rgba(62, 49, 36, 0.1);
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .entry--single h3 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif;
    position: relative;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 20px;
    padding: 15px 5px; }
    .entry--single h3:after {
      top: 0;
      border-top: 2px solid rgba(62, 49, 36, 0.5);
      border-bottom: 1px solid rgba(62, 49, 36, 0.5); }
    .entry--single h3:before {
      bottom: 0;
      border-top: 1px solid rgba(62, 49, 36, 0.5);
      border-bottom: 2px solid rgba(62, 49, 36, 0.5); }
    @media (min-width: 767px) {
      .entry--single h3 {
        font-size: 24pt;
        line-height: 1; } }
  .entry--single h4 {
    position: relative;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif;
    font-size: 18px; }
    .entry--single h4:before {
      content: '';
      position: absolute;
      bottom: -5px;
      display: block;
      width: 100%;
      height: 1px;
      background: rgba(62, 49, 36, 0.5);
      background: linear-gradient(-45deg, transparent, #3E3124 100%, #3E3124 10%, transparent); }
  .entry--single h5 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif; }
  .entry--single blockquote {
    position: relative;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    margin: 2em 0 1em;
    padding: 15px 20px 15px 10px; }
    .entry--single blockquote:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 10px solid transparent;
      border-left: 10px solid #3E3124;
      -webkit-transform: rotate(225deg);
              transform: rotate(225deg); }
    .entry--single blockquote:after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: -10px;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 10px solid transparent;
      border-left: 10px solid #3E3124;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .entry--single p {
    font-size: 15px;
    line-height: 1.7em;
    margin-bottom: 1.2em; }
    @media (min-width: 767px) {
      .entry--single p {
        font-size: 17px;
        line-height: 28px;
        margin-bottom: 28px; } }
