// --------------------------------------------------------------
  // Mixins
// --------------------------------------------------------------
@mixin button($font-size, $b-radius, $padding, $font-color) {
  color: $font-color;
  font-family: $heading-font; 
  font-size: $font-size;
  border-radius: $b-radius;
  padding: $padding;
  @extend %btns;
}
