// --------------------------------------------------------------
  // Variables
// --------------------------------------------------------------

// ----------------------------------------
// Colors
// ----------------------------------------

$main:      #497fc7;
$accent:     #269cce;

$accent-light:  #239bcd;
$accent-med:    teal;// NEEDS UPDATEING
$accent-dark:   #008cc6;

$text-light:    #cecece;
$text-dark:     #404041;

$link-color:    $main;
$link-hover:    darken($link-color, 20%);
$link-active:   darken($link-color, 60%);

$black:         #151515;
$white:         #fff;
$dark-grey:     #404041;


// ----------------------------------------
// Typography
// ----------------------------------------

$sans-serif:    Helvetica, sans-serif;
$serif:         Georgia, serif;

$line-height-base:  1.5;

$heading-font:  Helvetica, sans-serif;
$body-font:     Arial, Helvetica, Geneva, sans-serif;


// -----------------------------------------
// Helpers
// -----------------------------------------

// Shortcuts for things you might be typing a lot.
