$pc_min_width: 767px;
$tablet_min_width: 480px;

$navH: 45px;

$font-family: 'nasu', "ヒラギノ角ゴ Pro W6", HiraKakuPro-W6, sans-serif;
$font-kakugo: "ヒラギノ角ゴ Pro W6", HiraKakuPro-W6, sans-serif;
$font-fine: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;

$white: #fff;
$black: #000;

$bgColor: #fffaea;
$menuBgColor: $black;
$menuColor: #fff;
$tagColor: $black;

$lightGray: #888;
$gray: #444;
