.entry--list {
    position: relative;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: $white;
    margin: 5px 0;
    border: 1px solid #cccccc;

    .entry-thumb {
        display: block;
        float: left;
        height: 80%;
        width: 33%;
        margin: 10px 0 0 10px;
        @include notxt();
        background-size: cover;
        background-position: center;
    }

    .entry-content {
        height: 100%;
        width: 63%;
        font-size: 80%;
        float: right;
        padding: 10px 10px 0 5px;
        box-sizing: border-box;
        @include nodeco($black);
    }

    .entry-title {
        height: 64px;
        overflow: hidden;
    }

    .entry-date {
        display: inline-block;
        color: $lightGray;
        font-size: 80%;
    }

    .entry-cat_tag {
        display: inline-block;
        float: right;

        .post-categories {
            display: inline-block;
        }

        .cat-links {
            a {
                font-size: 80%;
                position: relative;
                display: inline-block;
                padding: 0 5px;
                background-color: $tagColor;
                @include nodeco($black);
            }
        }
    }

    .comments-link {
        display: none;
    }

    .tags-links {
        @include sp_none;
    }
}
